@page {
    size: A4;
    /*margin: 0;*/
}

@media print {
    .page {
        margin: 0.5cm;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

body {
    font-size: 12px;
    /*line-height: 1.2em;*/
    background-color: #f7f7f7;
    /*font-family: 'Lato', sans-serif;*/
}

.me {
    font-size: 38px;
    color: white !important
}

.me-small {
    margin-top: -15px;
    font-size: 14px;
    color: #f7f7f7 !important
}

.job {
    font-size: 22px;
    color: white !important;
}

.white-text {
    color: white !important;
}

.rule {
    margin: 20px 0;
    border-bottom: solid 1px #eff5ff;
}

h1 {
    font-size: 22px;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    color: #2fa4e7 !important;
}

h3 {
    font-size: 16px;
    color: #777;
    margin-top: 0px;
}

.blue-left {
    color: white !important;
    padding: 20px;
    background-color: #2fa4e7 !important;
    height: 100%;
}

.blue-left .fa:before {
    color: white !important;
}

.blue-left h1 {
    color: white !important;
}

.right-col h1 {
    margin-top: 0;
}

.portrait {
    /*width: 195px;*/
    height: 185px;
    margin-bottom: 20px;
    /*border-radius: 50%;*/
    /*border: 15px solid green;*/
}

.main-box {
    margin: 15px;
    margin-top: 0px;
    background-color: white !important;
    padding: 20px;
}


}

}
